doctype html
html
  head
    title 予定調整くん
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:url" content="https://whispering-fortress-62568.herokuapp.com/")
    meta(property="og:type" content="website")
    meta(property="og:title" content="予定調整くん")
    meta(property="og:description" content="「予定調整くんは、GitHubで認証でき、予定を作って出欠が取れるサービスです")
    meta(property="og:site_name" content="予定調整くん")

    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/stylesheets/styles.css")
  body
    nav.navbar.navbar-light.bg-light
      div.navbar-header
        a(href="/").navbar-brand.nav-link 予定調整くん
      ul.navbar-nav
        if user
          li.nav-item
            a(href="/logout").nav-link #{user.username} をログアウト
        else
          li.nav-item
            a(href="/login").nav-link ログイン
    div.container
      block content
    script(src="/javascripts/bundle.js")