body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  background-color: rgb(255, 230, 180);
}

nav {
  background-color: rgb(255, 245, 220);
}

.jumbotron {
  background-color: rgb(255, 195, 85);
}

table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}